.syr-powerset{
	background: red;
}

.syr-degree{
	background: green;
}

.pw-gset{
	/*
	stroke: black;
	stroke-opacity: 0.2;
	*/
	fill: transparent;
}
/*
.pw-gset:hover{
	stroke-opacity: 1;
	cursor: pointer;
}
*/

.pw-set{
	stroke: blue;
	fill: transparent;
}

.pw-set:hover{
	fill: lightgreen !important;
	cursor: pointer;
}


.pw-set-text-center:hover{
	background-color : lightgreen !important;
	cursor: pointer;
}

div#bodyVis {
  height: 100% !important;
}

div#set-vis-container{
	height: 100% !important;
}

text.pw-gtext{
	-webkit-user-select: none;
}

div.ps-control-panel{
	background-color: #d9d9d9;
	width: 180px;
	height: 100%;
	float: left;
}

.elm-by-deg-scale, .elm-by-sets-scale{
	border-bottom: 1px solid black;
}
.elm-by-deg-scale span:last-child,
.elm-by-sets-scale span:last-child
{
	float:right;
}

.row{
	margin: 5px;
}

.row progress{
	margin-left: 20px;
	width: 120px;
}

.pw-set-text-body{
	display: table;
}

.pw-set-text-center{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.pw-set-more{
	fill: lightgray
}

.pw-collapsed{
	
}

#pw-show-more-modal{
	height: 100%;
	width: 500px;
	background: #dedede;
	top: 0;
	right: 0;
	position: absolute;
}