.syr-powerset{
	background: red;
}

.syr-degree{
	background: green;
}

.pw-gset{
	stroke: black;
	stroke-opacity: 0.2;
	fill: transparent;
}

.pw-gset:hover{
	stroke-opacity: 1;
	cursor: pointer;
}

.pw-set{
	stroke: blue;
	fill: transparent;
}

.pw-set:hover{
	fill: blue;
	cursor: pointer;
}

div#bodyVis {
  height: 100% !important;
}

div#set-vis-container{
	height: 100% !important;
}

text.pw-gtext{
	-webkit-user-select: none;
}